.signin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -17px;
    height: 80vh;
    background: url('./ling-app-mi3xdm-GQs4-unsplash.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* // background-color: black; */

}

.touchus-form h1{

    color: white;
}